
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
  --text: hsl(215, 51%, 70%);
  --eth: hsl(178, 100%, 50%);

  --background: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);

  --ff-Outfit: 'Outfit', sans-serif;
}

body, html {
    background-color: var(--background);
    font-family: var(--ff-Outfit);
    display: grid;
    place-items: center;
    height: 100%;
}

span, h1 {
    margin: 0;
}

p {
    color: var(--text);
    font-size: 18px;
    margin: 0;
}

.container {
    display: grid;
    background-color: var(--card-bg);
    width: 315px;
    border-radius: 8px;
    padding: 1em;
}

.container img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 8px;
}

.container img:hover {
    color: var(--eth);
    transition: linear 0.2s;
}


.image-wrapper {
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 260px;
    transition: linear 0.2s;
    cursor: pointer;
}

.icon-view {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    z-index: 1;
}

.equlibrium {
   margin-top: 1.5em;
   color: white;
   font-size: 22px;
   transition: linear 0.2s;
}

.equlibrium:hover {
    color: var(--eth);
    cursor: pointer;
    transition: linear 0.2s;
}

.text {
    margin-top: 1.5em;
}

.description-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5em;
    font-size: 18px;
}

.eth-price {
    color: var(--eth);
    font-weight: 600;
}

.days-left {
    color: var(--text);
}

.line {
    margin-top: 0.75rem;
    background-color: var(--line);
    height: 2px;
    width: 100%;
}

.creator {
    margin-top: 1em;
    display: flex;
    align-items: center;
    gap: 10px;
}

.creator-name {
    color:white;
    transition: linear 0.2s;
}

.creator-name:hover {
    color: var(--eth);
    cursor: pointer;
    transition: linear 0.2s;
}

.avatar img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

